* {
  box-sizing: border-box;
}

body {
  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

header {
  text-align: center;
  border-bottom-style: solid;
}

.mainContent {
  padding: 50px 100px;
  display: flex;
  justify-content: space-evenly;
  border-bottom-style: solid;
}

button {
  cursor: pointer;
}

#startButton img {
  width: 200px;
  height: 200px;
}

#timeLeft {
  text-align: center;
  font-size: 30px;
}

#displayQuestions {
  background-color: rgb(211, 209, 209);
  border-style: solid;
  padding-left: 0px;
  list-style-type: none;
  border-bottom-style: none;
}

#displayQuestions li {
  border-bottom-style: solid;
  padding: 10px 10px;
}

#displayQuestions li:hover {
  background-color: rgb(60, 86, 102);
  cursor: pointer;
}

#displayQuestions li[data-correct="correct"] {
  background-color: mediumseagreen;
}

#displayQuestions li[data-correct="wrong"] {
  background-color: rgb(138, 36, 36);
}

.finishQuiz {
  display: none;
}

.results {
  padding: 50px 300px;
  display: flex;
  justify-content: center;
}
